    /* Login.css */

    /* General Reset */
    body, h1, a, button, input {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Body Styling */
    body {
        font-family: Arial, sans-serif;
        background-color:#1E1E1E;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        margin: 0;
    }

    /* Container Styling */
    .container {
        background: #ffffff;
        color: #333;
        width: 100%;
        max-width: 400px;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        margin: auto;
    }

    /* Login Title */
    .login-title {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    /* Error Message */
    .error-message {
        font-size: 0.9em;
        border: 1px solid red;
        padding: 10px;
        border-radius: 5px;
        background: #ffe6e6;
        color: red;
    }

    /* Input Container */
    .input-container {
        margin: 15px 0;
    }

    .input-box {
        width: 100%;
        padding: 12px;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s;
    }

    .input-box:focus {
        border-color: #2575fc;
    }

    /* Forgot Password */
    .forgot-password-container {
        text-align: right;
        margin: 10px 0;
    }

    .forgot-password {
        font-size: 0.9em;
        color: #2575fc;
        text-decoration: none;
        transition: color 0.3s;
    }

    .forgot-password:hover {
        color: #6a11cb;
    }

    /* Login Button */
    .login-button {
        width: 100%;
        padding: 12px;
        font-size: 1em;
        background: #E50914;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
    }

    .login-button:hover {
        background: #1E1E1E;
    }

    /* Create Account */
    .create-account {
        margin-top: 20px;
        font-size: 0.9em;
        color: #666;
    }

    .create-new a {
        color: #2575fc;
        font-weight: bold;
        transition: color 0.3s;
    }

    .create-new a:hover {
        color: #6a11cb;
    }

